<%= form_with(model: [@course, @recommendation], local: true) do |form| %> 
    <div class="field">
        <%= form.label :student_email %>
        <%= form.email_field :student_email %>
    </div>

    <div class="field">
        <%= form.label :recommendation_type %>
        <%= form.select :recommendation_type, options_for_select([['General', 'general'],['Specific','specific']]) %>
    </div>

    <div class="actions">
        <%= form.submit 'Submit Recommendation' %>
    </div>
<% end %>
