<!-- show.html.erb -->

<h2 style="padding-left: 20px;">Grader Application Details</h2>

<!-- Display basic information -->
<div style="padding-left: 20px;">
  <p>
    <strong>Name:</strong>
    <%= grader.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= grader.email %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= grader.phone_number %>
  </p>

  <p>
    <strong>Courses Wish and Qualify to Grade:</strong>
   CSE <%= grader.courses_wish_and_qualify_to_grade %>
  </p>
</div>

<!-- Availability Schedule Table -->
<h3 id="availability" style="padding-left: 20px;">Availability Schedule</h3>
<div style="padding-left: 20px; padding-right: 20px;">
  <table class="availability-table" style="width: 100%; border-collapse: separate;">
    <thead>
      <tr>
        <th style="padding-right: 20px;">Day</th>
        <th style="padding-right: 20px;">Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% Grader::DAYS_OF_WEEK.each do |day| %>
        <tr>
          <td style="padding-right: 20px;"><%= day.capitalize %></td>
          <!-- Display start time for each day -->
          <td style="padding-right: 20px;"><%= format_time(grader.send("#{day.downcase}_start")) %></td>
          <!-- Display end time for each day -->
          <td><%= format_time(grader.send("#{day.downcase}_end")) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Navigation links -->
<div style="margin-bottom: 20px; margin-left: 20px;">
  <%= link_to 'Edit', edit_grader_path(grader) %> |
  <%= link_to 'Back', 'javascript:history.back()' %>
</div>
