<!-- app/views/graders/index.html.erb -->
<div class="content-wrapper">
  <style>
    .content-wrapper {
      padding: 30px; /* Adjust this value to move content away from the borders */
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      padding: 8px;
      border: 1px solid #dddddd;
      text-align: left;
      vertical-align: top;
    }
    th {
      color: white;
      padding: 8px;
      border: 1px solid #dddddd;
      text-align: left;
      background-color: #ba0c2f;
    }

    .table-container {
      overflow-x: auto;
    }
  </style>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Course</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
          <tr>
            <td><%= grader.name %></td>
            <td><%= grader.email %></td>
            <td><%= grader.phone_number %></td>
            <td><%= grader.courses_wish_and_qualify_to_grade %></td>
            <td>
              <%= link_to 'Show', grader %>
              <%= link_to 'Edit', edit_grader_path(grader) %>
              <%= button_to 'Delete', grader_path(grader), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
     
      </tbody>
    </table>
  </div>
</div>

