<div class="login-form-wrapper">
  <div class="login-form">
    <h2><%= @grader.new_record? ? 'New Grader Application' : 'Edit Grader Application' %></h2>

    <%= form_with(model: @grader, local: true) do |form| %>
      <% if @grader.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@grader.errors.count, "error") %> prohibited this grader application from being saved:</h2>

          <ul>
            <% @grader.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- Basic information fields -->
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :phone_number %>
        <%= form.telephone_field :phone_number %>
      </div>

      <div class="field">
        <%= form.label :courses_wish_to_grade %>
        <%= form.text_area :courses_wish_to_grade %>
      </div>

      <div class="field">
        <%= form.label :courses_qualified_to_grade %>
        <%= form.text_area :courses_qualified_to_grade %>
      </div>

    <!-- Availability schedule section -->
<h3>Availability Schedule</h3>
<div class="availability-schedule">
  <% Grader::DAYS_OF_WEEK.each do |day| %>
    <div class="field">
      <%= form.label day %>
      <!-- Time field for start time -->
      <%= form.time_field "availability[#{day}][]", value: @grader.availability.dig(day, 0) %>
      to
      <!-- Time field for end time -->
      <%= form.time_field "availability[#{day}][]", value: @grader.availability.dig(day, 1) %>
    </div>
  <% end %>
</div>

      <div class="actions">
        <%= form.submit @grader.new_record? ? "Send Application" : "Update Application" %>
      </div>
      
      <div class="links">
        <%= link_to 'Back', graders_path %>
      </div>
    <% end %>
  </div>
</div>
