<%= form_for(@course) do |f| %>
    <%= form_for(@section) do |f1| %>
    <%= fields_for(:assistant) do |f2| %>
    <div>
    <%= f2.label :fname, style: "display: block" %>
    <%= f2.text_field :fname %>
  </div>

  <div>
    <%= f2.label :email, style: "display: block" %>
    <%= f2.text_field :email %>
  </div>

  <div>
    <%= f2.submit %>
    <% end %>
  <% end %>
<% end %>