<%# This is a rewrite of the admin dashboard code from lab2%>

<!-- Admin dashboard overview page -->
<h1>Admin Dashboard</h1>
<h2> hello, <%= current_user.email%></h2>

<div>
  <h2>Courses</h2>
  <p>Total Courses: <%= Course.all.length %></p>
  <%= link_to 'Browse Courses', courses_path %><br>
  <%= link_to 'Load Courses', new_api_search_path %> <br>
  <%= link_to 'Add New Course', '#', id: 'add-course-link' %>
</div>


<% @courses.each do |course| %>
  <div>
    <h3><%= course.title %></h3>
    <p><%= course.description %></p>
    <%# Did not add credits to the table, will add it in later%>
    <%# <p>Credits: <%= course.credits </p> %>
     <% course.sections.each do |section| %>
    <p>Instructor for section <%=section.section %> at <%=section.start_time %></p>
    <%#  there must be another key that differs from each section %>
    <%# this will show the section number and the instructor for the section %>
    <p>  <%=  section.instructor %></p>
    <%end%>
    <%= link_to 'Edit',  edit_course_path(course) %>
    <%= link_to 'Delete', admin_dashboard_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  
<% end %>
<%== pagy_nav(@pagy) %>

