<%# This is a rewrite of the admin dashboard code from lab2%>

<!-- Admin dashboard overview page -->
<h1>Admin Dashboard</h1>
<h2> Hello, <%= current_user.email%></h2>
<%# Partials are useed to make it easier to customise the design of the page %>
<%= render("pending_users")%>
<%= render("all_users")%>
<%= render('course_manager')%>
<%= render('admin_course')%>





  
