<div id="<%= dom_id api_search %>">
  <p>
    <strong>Search:</strong>
    <%= api_search.search %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= api_search.term %>
  </p>

  <p>
    <strong>Campus:</strong>
    <%= api_search.campus %>
  </p>

  <p>
    <strong>Academic career:</strong>
    <%= api_search.academic_career %>
  </p>

  <p>
    <strong>Catalog number:</strong>
    <%= api_search.catalog_number %>
  </p>

  <p>
    <strong>Component:</strong>
    <%= api_search.component %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= api_search.subject %>
  </p>

  <p>
    <strong>Instruction mode:</strong>
    <%= api_search.instruction_mode %>
  </p>

  <p>
    <strong>Time of day:</strong>
    <%= api_search.evening %>
  </p>


</div>
