<p style="color: green"><%= notice %></p>

<%= render @api_search %>

<div>
  <%= link_to "Edit this api search", edit_api_search_path(@api_search) %> 
  <%= link_to "Back to api searches", api_searches_path %>
 
  <%= link_to "download this api search", download_api_search_path(@api_search)  %>
  
  
  <%= button_to "Destroy this api search", @api_search, method: :delete %>
</div>
