<div id="<%= dom_id course %>">
  <p>
    <strong>Courseid:</strong>
    <%= course.courseId %>
  </p>

  <p>
    <strong>Catalog number:</strong>
    <%= course.catalog_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= course.short_description %>
  </p>

  <p>
    <strong>Component:</strong>
    <%= course.component %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= course.term %>
  </p>

  <p>
    <strong>Campus:</strong>
    <%= course.campus %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject %>
  </p>

  <p>
    <strong>Catalog level:</strong>
    <%= course.catalog_level %>
  </p>

</div>
