<!-- this is the message to show if the course is created/deleted, notice will have that message -->
<p style="color: green"><%= notice %></p>

<!-- this is showing the data of course  -->
<h1 style="padding-left: 20px;">CSE <%= @course.catalog_number %> <%= @course.title %></h1>

<p style="padding-left: 20px;"><%= @course.description %></p>
<p><%= render(@course.sections) %></p>

 <!-- show the recommendation link if the user is an instructor -->
<% if current_user.instructor? %>
  <!-- Link to the recommendation form -->
  <%= link_to 'Submit Recommendation', new_course_recommendation_path(@course)%>
<% end %>

<div style="margin-bottom: 20px; margin-left: 20px;">
  <!-- this is link to all courses, clicking on this link will take to the courses page  -->
  <%= link_to "Back to courses", courses_path %> 
</div>
