<!--
# The sources used for this file vary, including ChatGPT and Carmen resources:
# https://www.youtube.com/playlist?list=PLlxmoA0rQ-Lx45j3D6da7-Iqvo5wtjKBm
# https://www.youtube.com/playlist?list=PLS1QulWo1RIbNBXZAeVbkkHEj9zsEbXQK
# https://www.railstutorial.org/book
# https://www.youtube.com/watch?v=GY7Ps8fqGdc
# https://chatgpt.com/
-->


<!-- Admin User Approval Page -->
<h1>Pending User Approvals</h1>

<table>
  <thead>
    <tr>
      <!-- Table headers -->
      <th>Name</th>
      <th>Email</th>
      <th>Requested Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop throught each user pending approval -->
    <% @users.each do |user| %>
      <tr>
        <!-- Display user details and action links for approval/decline -->
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.requested_role %></td>
        <td>
          <!-- Link to approve the user -->
          <%= link_to 'Approve', approve_admin_user_path(user, role: user.requested_role), method: :post %>
          <!-- Link to decline the user -->
          <%= link_to 'Decline', decline_admin_user_path(user), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>