<%= form_with model: @user, url: instructors_recommendations_path, local: true do |form| %>
    <div class="field">
      <%= form.label :student_id, "Student's Full Name" %>
      <%= form.text_field :student_id %>
    </div>
    <div class="field">
      <%= form.label :student_id, "Student's OSU Email" %>
      <%= form.text_field :student_id %>
    </div>
    <div class="field">
      <%= form.label :student_id, "Class to grade" %>
      <%= form.text_field :student_id %>
    </div>
    <div class="field">
      <%= form.label :message %>
      <%= form.text_area :message %>
    </div>
    <%= form.submit "Submit Recommendation" %>
  <% end %>