<!--
# The sources used for this file vary, including ChatGPT and Carmen resources:
# https://www.youtube.com/playlist?list=PLlxmoA0rQ-Lx45j3D6da7-Iqvo5wtjKBm
# https://www.youtube.com/playlist?list=PLS1QulWo1RIbNBXZAeVbkkHEj9zsEbXQK
# https://www.railstutorial.org/book
# https://www.youtube.com/watch?v=GY7Ps8fqGdc
# https://chatgpt.com/
-->


<!-- Admin Course catalog reload page -->
<h1>Reload Course Catalog</h1>

<%= form_with url: reload_admin_courses_path, method: :post, local: true do |form| %>
  <div>
    <!-- Dropdown to select the campus -->
    <%= form.label :campus, 'Campus' %>
    <%= form.select :campus, options_for_select([['Columbus', 'col']]) %>
  </div>

  <div>
    <!-- Text field to enter the semester -->
    <%= form.label :semester, 'Semester' %>
    <%= form.text_field :semester %>
  </div>

  <div>
    <!-- submit button to reload the catalog -->
    <%= form.submit 'Reload Catalog' %>
  </div>
<% end %>